body {
  width: 80%;
  margin: auto;

  form {
    width: 50%;
    margin: auto;
    paper-input-decorator {
      width: 85%;
    }
    paper-fab {
      float: right;
      top: 25px;
    }
  }
  div {
    div:nth(0) {
      background-color: blue;
    }
    div:nth(1) {
      background-color: red;
    }
    div:nth(2) {
      background-color: green;
    }
  }
}

