body {
  width: 55%;
  margin: auto;

  .item{
    font-size: 2em;
  }
  form {
    width: 50%;
    margin: auto;
    paper-input-decorator {
      width: 85%;
    }
    paper-fab {
      float: right;
      top: 25px;
    }
  }
}

